{{yield}}

<div class="menu-centered">
  <ul class="menu">
    <li class="{{if home "active"}} nav-tab home" {{action "currentTab" }}>{{#link-to "home"}}Home{{/link-to}}</li>
    <li class="{{if details "active"}} nav-tab details" {{action "currentTab" }}>{{#link-to "details"}}Details{{/link-to}}</li>
    <li class="{{if gallery "active"}} nav-tab gallery" {{action "currentTab" }}>{{#link-to "gallery"}}Gallery{{/link-to}}</li>
    <li class="{{if registry "active"}} nav-tab registry" {{action "currentTab" }}>{{#link-to "registry"}}Registry{{/link-to}}</li>
  </ul>
</div>
