{{yield}}

<div class="gallery-box">
  {{#slick-slider autoplay=true arrows=true}}
    <div class="box"> <img class="gallery-image" src="assets/images/them3.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them0.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them4.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/levi.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them5.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them1.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them2.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/angie.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them6.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them7.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them8.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them9.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them10.jpg"> </div>
    <div class="box"> <img class="gallery-image" src="assets/images/them11.jpg"> </div>
  {{/slick-slider}}
</div>
