{{yield}}

<div class="row">
  <div class="small-8 medium-3 small-centered rsvp columns">
    <button {{action "toggleModal"}} class="button">RSVP</button>
  </div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true
                  overlay-class=modal-background}}
    <h4 class="modal-title">RSVP</h4>
    <div class="text">
       - tell us if you're coming!
    </div>
    <form>
      <div class="row">
        <div class="medium-12 columns">
          {{input value=name type="text" placeholder="Name"}}
        </div>
        <div class="medium-12 columns">
          {{ input value=email type="email" placeholder="Email"}}
        </div>
        <fieldset class="medium-12 columns">
          <input id="guest" type="radio" value="guest" name="guest"><label for="guest">+1 Guest</label>
          <input id="lonely" type="radio" value="noguest" name="guest"><label for="lonely">Just Me :)</label>
        </fieldset>
        <div class="medium-12 columns question">
          Care to contribute to the playlist?
          Please add a song that reminds you of Levi and Angie:
        </div>
        <div class="medium-12 columns">
          {{input type="text" value=song placeholder="Song by Artist"}}
        </div>
        <div class="medium-12 columns">
          <button type="button" {{action "submitRSVP"}} class="button medium-6 columns">Submit!</button>
          <button type="button" {{action "toggleModal"}} class="button secondary medium-3 columns">Cancel</button>
        </div>
      </div>
    </form>
  {{/modal-dialog}}
{{/if}}
