.info {
  margin: 0 auto;
  margin-bottom: 10px;
}

.newLine {
  margin: 0;
}

.left-align {
  text-align: left;
}

.side-nav {
  margin-left: 10em;
  margin-top: 1em;
}

.top-nav {
  display: none;
  margin: 2em;
  margin-top: 0;
  text-align: left;
}

.g-map-canvas {
  @extend .info;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

@media (max-width: 70em) {
  .side-nav {
    display: none;
  }
  .top-nav {
    display: flex;
  }
}
