.gallery-image {
  margin: 0 auto;
  width: 300px;
  border-radius: 5px;
}

.gallery-box {
  @extend .gallery-image;
  margin-top: 15px;
  user-select: none;
}

.slick-arrow::before {
  color: $dark;
}

.slick-slider {
  height: 500px;
}
