.main-title {
  color: $main;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-title {
  text-align: center;
  margin-bottom: 30px;
}

.main-image {
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
  }
}

.rsvp, .small-centered {
  text-align: center;
  button {
    border-radius: 5px;
  }
}
