.main-title, h4, .sub-title, .info {
  font-family: Pacifico, sans-serif;
  color: $secondary;
}

h1.main-title {
  margin-top: 0;
}

body {
  font-family: Josefin Sans, sans-serif;
  color: $dark;
  height: 100vh;
}

.container {
  height: 80vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

a:hover {
  color: $light;
}

.row.footer {
  margin: 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  color: $light;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  a {
    color: $lightmain;
  }
  .me {
    padding-right: 30px;
  }
}

@media (max-width:800px) {
  footer {
    flex-direction: column;
  }
  .container {
    height: 75vh;
  }
}

@media (max-width:600px) {
  .container {
    height: 73vh;
  }
}
