.modal-title {
  display: inline-block;
  color: $main;
  margin: 15px;
}

.text {
  display: inline-block;
}

.question {
  margin-bottom: 10px;
}

.ember-modal-overlay.translucent {
  background-color: rgba($lightmain, .77);
}

.ember-modal-dialog.ember-modal-dialog-target-attachment-center.ember-view:not(button) {
  border-radius: 5px;
  width: 350px;
  font-family: Josefin Sans, sans-serif;
  button {
    font-family: Pacifico, sans-serif;
  }
  input, button {
    border-radius: 5px;
  }
  label {
    color: $secondary;
  }
}
