<h1 class="main-title">Leviandangie's Wedding</h1>

{{nav-bar}}

{{outlet}}

<div class="row footer">
  <div class="small-12 small-centered medium-centered large-centered columns">
    <footer>
      <div class="contact">
        Contact at <a href="mailto:amschaeffer@gmail.com?Subject=I%20Love%20You%20So%20Much">&nbsp;amschaeffer@gmail.com</a>
      </div>
      <a class="me" href="https://github.com/bertoort" target="_blank">&copy;by berto</a>
    </footer>
  </div>
</div>
