<div class="container">
  <div class="row">
    <div class="small-12 medium-7 large-5 small-centered columns">
      <nav class="top-nav" data-sticky>
        <ul class="vertical menu" data-magellan>
          <li><h5 class="info">Content: </h5></li>
          <li><a data-magellan-arrival="wedding" href="/details#wedding">{{fa-icon "diamond"}} Wedding Ceremony</a></li>
          <li><a data-magellan-arrival="directions" href="/details#directions">{{fa-icon "map-o"}} Directions</a></li>
          <li><a data-magellan-arrival="friends-and-family" href="/details#friends-and-family">{{fa-icon "users"}} Friends &amp; Family</a></li>
          <li><a data-magellan-arrival="accomodations" href="/details#accomodations">{{fa-icon "hotel"}} Accomodations</a></li>
          <li><a data-magellan-arrival="attire" href="/details#attire">{{fa-icon "suitcase"}} Wedding Attire</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="small-1 medium-1 columns">
      <nav class="side-nav sticky" data-sticky>
        <ul class="vertical menu" data-magellan>
          <li><h5 class="info">Content: </h5></li>
          <li><a data-magellan-arrival="wedding" href="/details#wedding">{{fa-icon "diamond"}} Wedding Ceremony</a></li>
          <li><a data-magellan-arrival="directions" href="/details#directions">{{fa-icon "map-o"}} Directions</a></li>
          <li><a data-magellan-arrival="friends-and-family" href="/details#friends-and-family">{{fa-icon "users"}} Friends &amp; Family</a></li>
          <li><a data-magellan-arrival="accomodations" href="/details#accomodations">{{fa-icon "hotel"}} Accomodations</a></li>
          <li><a data-magellan-arrival="attire" href="/details#attire">{{fa-icon "suitcase"}} Wedding Attire</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-8 large-5 small-centered columns">
      <h3 id="wedding" data-magellan-destination="wedding" class="info">Wedding Ceremony </h3>
    </div>
  </div>

  <!-- {{g-map lat=40.330924 lng=-105.4289797 zoom=12}} -->

  <div class="row">
    <div class="small-6 medium-3 small-centered columns">
      <p class="newLine"><em>Narrow Trail Cabin</em></p>
      <p class="newLine">6399 Hwy 36 E.</p>
      <p class="newLine">Estes Park, CO 80517</p>
      <p class="newLine">Sunday, October 9th</p>
      <p class="newLine">3:00pm</p>
      <p>Reception to follow on the same property.</p>
    </div>
  </div>
  <div class="row">
    <div class="left-align small-11 medium-8 large-5 small-centered columns">
      <p>
        <em id="directions" data-magellan-destination="directions"> Directions: </em>
      </p>
      <p>
        From Denver - Follow I-25N to Hwy 66W (Longmont-Lyons). Stay on Hwy 66W
        through Lyons to Hwy 36 towards Estes Park. Watch for mile marker 7. Narrow Trail cabin is about 3/4 mile on the right just after the "Twin Owls/Estes Park
        Brewery" sign on the left. The gated drive is on the right and there is a large wood carved Native American next to the gate.
      </p>
      <p>
        From Estes Park - Take US Hwy 36 just past Jellystone Park. Watch for mile
        marker 6. The gated drive is just past it on the left and there is a large
        wood carved Native American next to the gate.
      </p>
      <p>
        <em> There is limited cell phone service at the cabin and in the surrounding area. Please take special note of the written directions without relying on GPS.</em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-8 large-5 small-centered columns">
      <h3 id="friends-and-family" data-magellan-destination="friends-and-family" class="info">Friends &amp; Family </h3>
    </div>
  </div>
  <div class="row">
    <div class="left-align small-11 medium-8 large-5 small-centered columns">
      <p>
        <em>For Immediate Family:</em>
        Along with our parents, we are delighted to host a three night stay at Narrow Trail Cabin just outside Estes Park, CO.
        We have reserved the lodge for all of our immediate family members and invite you to stay the nights of October 7, 8, and 9th.
      </p>
      <p>
        Please join us for family bonding, hiking, relaxing, and celebrating!
        We would like to go on a hike in Rocky Mountain National Park on the 8th, so please bring hiking gear and warm weather clothing.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="left-align small-11 medium-8 large-5 small-centered columns">
      <p>
        <em>For our Dearest Friends:</em>
        Please join us in celebrating our wedding on the property of Narrow Trail Cabin on the 9th followed by a reception at the same location.
        We are hoping that holding all events in one peaceful location will simplify the experience for everyone.
        Please see hotel information for accommodations on the night of the 9th.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-8 large-5 small-centered columns">
      <p>
        <em>On Saturday October 15th, we will also have a wedding reception to include our extended family and friends who were not present at our wedding ceremony. </em>
      </p>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="small-11 medium-8 large-5 small-centered columns">
      <h3 id="accomodations" data-magellan-destination="accomodations" class="info">Accomodations</h3>
    </div>
  </div>
  <div class="row">
    <div class="left-align small-11 medium-8 large-5 small-centered columns">
      <p>
        For our dear friends, we have reserved blocks of rooms at a hotel in Estes Park for the night of October 9th. We will be celebrating after the ceremony and will have a shuttle service to take people to the hotel afterwards. The following day, Monday October 9th, there will be a brunch in Estes Park that we would love for you to be a part of. The hotel is a five-minute ride from the cabin.
      </p>
      <p>
        Please make your individual reservations by September 8th.  Ask for the block name Schaeffer-Krey wedding.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-6 medium-3 small-centered columns">
      <p class="newLine"><em>Rocky Mountain Park Inn</em></p>
      <p class="newLine">101 South Saint Vrain Ave.</p>
      <p class="newLine">Estes Park, CO 80517</p>
      <p class="newLine">(800) 803-7837</p>
      <p class="newLine">(970) 586-2332</p>
      <p><a href="http://rockymountainparkinn.com/lodging">http://rockymountainparkinn.com/lodging</a></p>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-8 large-5 small-centered columns">
      <h3 id="attire" data-magellan-destination="attire"class="info">Wedding Attire</h3>
    </div>
  </div>
  <div class="row">
    <div class="left-align small-11 medium-8 large-5 small-centered columns">
      <p>
        Feel free to dress in nice clothes for the wedding. Also consider we will be in the mountains and we encourage you to experience the outdoors! Bring clothes to change into if you’d like to explore after the ceremony and formal pictures.
      </p>
      <p>
        We are hoping to have the ceremony outside on the property; however, we recognize that fall weather in October can be unpredictable in Colorado. If weather does not permit an outdoor ceremony, we will be cozy inside the cabin. Please bring warm layers and plan for chilly weather. Wear comfortable shoes as we will be in a forest setting and potentially on grass for the ceremony.
        Since we are having a smaller gathering and we consider all of you guests of honor, please think about wearing one of our wedding colors (purple, lavender, sage green, cream) or a neutral color (grey, white, cream, brown) to unite us all.
      </p>
      <p>
        For adventurous types, there is a strenuous trail on the property that leads to a summit overlooking the Denver skyline as well as Rocky Mountain National Park. Feel free to bring your hiking shoes if you’d like to check it out after the ceremony.
      </p>
    </div>
  </div>
</div>

{{outlet}}
