<div class="row">
  <div class="small-11 medium-8 large-5 small-centered columns">
    <h3 class="info">True Dorky Love</h3>
  </div>
</div>

<div class="row">
  <div class="small-11 medium-8 large-5 small-centered columns">
    <p>
      Swipe or Tap the Arrows
    </p>
  </div>
</div>

{{picture-gallery}}

{{outlet}}
