<div class="container">
  <div class="row">
    <div id="heart" class="small-8 medium-3 small-centered columns">
      <img class="main-image" {{action "dropHearts" }} src="/assets/images/them.jpg" alt="them">
    </div>
  </div>
  <div class="row">
    <div id="heart" class="left-align small-8 medium-5 small-centered columns">
      <p>
        Welcome to our wedding website! We are so excited to celebrate our special day with you at Narrow Trail Cabin near Estes Park, Colorado!
        We have purposely kept our guest list small, for an intimate affair with close friends and immediate family.
        We consider each and every one of you as members of our wedding party and guests of honor.
      </p>
      <p>
        Please don’t hesitate to call or email us with any questions or concerns about our wedding weekend festivities.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 medium-5 small-centered columns">
      <p>
        <em>Please RSVP by August 15th.</em>
      </p>
      <p>
        Click the button or contact us directly
      </p>
      {{rsvp-modal}}
      <p class="newLine">Levi Krey: (720) 737-6213</p>
      <p>levikrey@gmail.com</p>
      <p class="newLine">Angie Schaeffer: (720) 862-8529</p>
      <p>amschaeffer@gmail.com</p>
    </div>
  </div>
</div>
{{ember-notify closeAfter=4000}}

{{outlet}}
