<div class="row">
	<div class="small-8 medium-3 small-centered columns">
		<a href="https://www.honeyfund.com/wedding/KreyWedding2016" target="_blank">
			<img class="registry-logo" src="https://www.honeyfund.com/_assets/images/2015home/HF_logo_glow_2x_a_r.png">
		</a>
	</div>
</div>


<!-- Model information Example
{{#each model as |registry|}}
	{{registry.name}}
  <button {{action "delete" registry.id}}> X </button>
{{/each}}
{{outlet}} -->
